<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            height: 95vh;

        }
        a{
            display: block;
            background-color: rgb(82, 156, 222);
            padding: 32px;
            margin: auto;
            text-decoration: none;
            color: aliceblue;
            border-radius: 8px;
            font-size: 24px;
            
        }
    </style>
</head>

<body>
    <a href="/api/blogs">Bấm vào đây để chuyển hướng đến blogs</a>
</body>
</html>